

@font-face {
	font-family: 'Conv_SegoeWP';
	src: url('../fonts/SegoeWP.eot');
	src: local('☺'), url('../fonts/SegoeWP.woff') format('woff'), url('../fonts/SegoeWP.ttf') format('truetype'), url('../fonts/SegoeWP.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SegoeWP-Light';
	src: url('../fonts/SegoeWP-Light.eot');
	src: local('☺'), url('../fonts/SegoeWP-Light.woff') format('woff'), url('../fonts/SegoeWP-Light.ttf') format('truetype'), url('../fonts/SegoeWP-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

